.App {
  text-align: center;
  background-color: black;
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
  font-size: 3em;
}


.header {
  color: red;
  background-color: blanchedalmond;
}